<div class="row column">
  <ul class="vertical medium-horizontal menu expanded text-center">
    <li><a href="#"><div class="stat"><%= @total_vacations %></div><span>Vacations</span></a></li>
    <li><a href="#"><div class="stat"><%= @total_visits %></div><span>Visits</span></a></li>
    <li><a href="#"><div class="stat"><%= @total_parks %></div><span>Destinations</span></a></li>

    <!-- These may be activated once the mapping and searches are functional -->
    <!-- <li><a href="#"><div class="stat">59</div><span>Maps Created</span></a></li>
    <li><a href="#"><div class="stat">18</div><span>Trips Created</span></a></li> -->
  </ul>
</div>
