<h1>About</h1>

<p>
  This application was created by David Neto as a capstone project
  for Launch Academy Online.

  <br><br>

  <%= link_to "Track the development on my GitHub", "https://github.com/davidneto92/vacation-tracker", target: :_blank %>

  <br><br>

  <strong>Thanks for looking!<br>David</strong><br><br>


  <iframe src="http://www.youtube.com/embed/lva1m8cl9-Q"
   width="560" height="315" frameborder="0" allowfullscreen></iframe>
</p>
