<h1>About</h1>

<p>
  This application was created by David Neto as a capstone project
  for Launch Academy Online.

  <br>

  <%= link_to "Track the development on GitHub", "https://github.com/davidneto92/vacation-tracker", target: :_blank %>

  <br><br>

  Below is a map of the National Parks that I have visited compared to the whole park system.<br>

  <iframe src="https://www.google.com/maps/d/embed?mid=1c6zpTw-C87wZVvOnLqtiOeStjBI" width="640" height="480"></iframe>

  <br><br>

  <strong>Thanks for looking!<br>David</strong><br><br>

</p>
