<div class="callout large">
  <div class="row column text-center">
    <h1>Vacation Tracker</h1>
    <p class="lead">Track and discover trips to America's Best Idea</p>
    <%= link_to "Log your Vacation", vacations_path, class: "button large" %>
    <a href="#" class="button large hollow">Generate a Trip</a>
  </div>
</div>

<div class="row">
  <div class="medium-6 columns medium-push-6">
    <img class="thumbnail" src="http://placehold.it/750x350">
  </div>
  <div class="medium-6 columns medium-pull-6">
    <h2>Stay on target.</h2>
    <p>In keeping with my goal to visit all of the US National Parks, this application is intended to monitor my progress in this endeavor.
      With a Google account, users may use these tools to track their visits, map them out, and find places to see that they may have overlooked.</p>
  </div>
</div>

<div class="row">
  <div class="medium-4 columns">
    <h3>Track Your Progress</h3>
    <p>Create a running log of the trips you've been on throughout the United States. Log your vacations and individual visits to each park, memorial, or monument.</p>
  </div>
  <div class="medium-4 columns">
    <h3>Map Your Trips</h3>
    <p>With the click of a button, a custom Google map will be created to pinpoint where you've ventured to.</p>
  </div>
  <div class="medium-4 columns">
    <h3>Find New Destinations</h3>
    <p>Want to make the most of your upcoming trip? The trip generator will search near your destination to help you find nearby wonders and sights.</p>
  </div>
</div>

<hr>
  <%= render "site_stats" %>
<hr>
