<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_PLACES_KEY'] %>&libraries=places&callback=initAutocomplete" async defer></script>

<div class="medium-6 columns">

  <form action="generator/results">

    <div id="locationField" class="row">
      <div id="generator-autocomplete" class="columns small-10">
        <label>Starting Point
          <input id="autocomplete" placeholder="Starting Point" type="text" name="start_point"></input>
        </label>
      </div>

      <div id="gpsDiv" class="columns small-2 text-right">
        <label>GPS</label>
        <button type="button" id="gpsButton" class="button radius button-badge" disabled>
          <i class="fa fa-compass"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <div id="generator-autocomplete-destination" class="columns small-12">
        <label>Destination
          <input id="autocomplete-destination" placeholder="Address, city, or state etc" type="text" name="destination_point"></input>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="columns small-12 text-center">
        - or -
      </div>
    </div>

    <div class="row">
      <div class="columns small-12">
        <label><br>
          <%= select_tag "destination", options_for_select(@park_list) %>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="columns small-12">
        <input type="submit" value="Generate" class="button radius">
        <br><br>
      </div>
    </div>

  </form>

</div>

<div class="medium-6 columns">
  <div class="row">
    <div class="small-12 columns">
      <p>
        To generate a route, please enter your starting location and a destination, or you select a park as your destination.
        <br><br>
        Please note that not all of the National Parks are can be driven to, and therefore are omitted from this list.
        To see a list of parks that can and cannot be driven to, please visit the <%= link_to "parks page", parks_path %>.
      </p>
    </div>
  </div>
</div>
