/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require jquery-tablesorter/theme.default
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  /*padding: 1rem;*/
  background-color: #232323;
  /*display: block;*/
}

.footer a {
  color: #dbdbdb;
}

.footer a:hover {
  color: #929292;
}

.alert {
  text-align: center;
  color: #e74c3c;
  font-weight: bold;
  padding: 0;
}

.notice {
  text-align: center;
  color: #72c06c;
  font-weight: bold;
  padding: 0;
}

.callout {
  padding-top: 0;
}

#map {
  width: 100%;
  height: 35em;
  background-color: grey;
}

#park-embed-map {
  height: 25em;
  width: 100%;
}


.user-vacations-table {
  overflow-y: auto;
  /* single row and header are 7em */
  max-height: 21em;

/* BUTTON STYLES */
.button-badge {
  position: relative;
  border-radius: .2rem;
  transition: all ease 0.4s;
  text-decoration: none;
  padding: 0.2rem 0.4rem;
  font-size: 2rem;
}

.button-badge:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.fa {
  color: white;
}
